@model IEnumerable<TMS.ViewModels.Masters.CourseFacultyMapViewModel>

<h6>@ViewBag.CourseName</h6>
<hr />

@if (!Model.Any())
{
    <p class="text-muted">No faculty mapped yet.</p>
}
else
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">@item.Faculty?.Name</li>
        }
    </ul>
}
