@model IEnumerable<TMS.ViewModels.Masters.CourseEnrollmentViewModel>

@* <h5>Enrolled Students for @ViewBag.CourseName</h5> *@
<hr />

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Email</th>
                <th>Enrolled On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Student?.Name</td>
                    <td>@item.Student?.Email</td>
                    <td>@item.EnrolledOn.ToString("dd-MMM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-muted">No students enrolled yet.</p>
}
