@{
    Layout = "_LayoutEmpty"; 
    int step = ViewBag.Step ?? 1;
    string email = ViewBag.Email as string;
}

<div class="container mt-4">
    <div class="card shadow-lg p-4" style="max-width: 450px; margin:auto;">
        <h3 class="text-center mb-3">
            @if (step == 1)
            {
                <text>Forgot Password</text>
            }
            @if (step == 2)
            {
                <text>Verify OTP</text>
            }
            @if (step == 3)
            {
                <text>Reset Password</text>
            }
        </h3>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <!-- STEP 1: ENTER EMAIL -->
        @if (step == 1)
        {
            <form method="post" action="/Auth/ForgotPassword">
                <div class="form-group">
                    <label>Email</label>
                    <input required class="form-control" name="email" />
                </div>

                <button class="btn btn-primary mt-3 w-100">Send OTP</button>
            </form>
        }

        <!-- STEP 2: ENTER OTP -->
        @if (step == 2)
        {
            <form method="post" action="/Auth/VerifyOtp">
                <input type="hidden" name="email" value="@email" />

                <div class="form-group">
                    <label>Enter OTP</label>
                    <input required class="form-control" name="otp" />
                </div>

                <button class="btn btn-success mt-3 w-100">Verify OTP</button>

                <a href="/Auth/ForgotPasswordFlow?step=1" class="btn btn-link mt-2 w-100">Resend OTP</a>
            </form>
        }

        <!-- STEP 3: RESET PASSWORD -->
        @if (step == 3)
        {
            <form method="post" action="/Auth/ResetPassword">
                <input type="hidden" name="email" value="@email" />

                <div class="form-group">
                    <label>New Password</label>
                    <input required type="password" class="form-control" name="newPassword" />
                </div>

              

                <button class="btn btn-primary mt-3 w-100">Reset Password</button>
            </form>
        }
    </div>
</div>
