<nav class="sidebar-main">
    <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar">
            @await Component.InvokeAsync("Navigation",new{type="a"})
        </ul>
    </div>
    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
</nav>